@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Roboto;
    background-color: #f9f9f9;
    font-family: Roboto;
}

/* CABEÇALHO */
header {
    display: grid;
    grid-template-columns: 146px 404px 130px;
    grid-template-rows: 40px;
    justify-content: space-between;
    padding: 8px 24px;
    background-color: white;
}

.header-item {
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    align-items: center;
    gap: 32px
}

.header-item-2 {
    gap: 0px;
    display: grid;
    grid-template-columns: 348px 57px;
    grid-template-rows: 40px;
    align-items: stretch;
}

.header-item-2 input {
    border: 1px solid #CCCCCC;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-left: 16px;
}

.header-item-2 button {
    border: 1px solid #CCCCCC;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
    left: -1px;
}

.header-item-3 {
    gap:24px;
}

.header-item-3 img:last-child {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}
/* MAIN */
main {
    display: grid;
    grid-template-columns: min-content 2fr;
}

/* BARRA LATERAL */

.sidebar {
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 22px 16px;
    background-color: white;
    align-content: flex-start;
}

.sidebar p {
    font-size: 14px;
}

/* VÍDEOS */

.video-showcase {
    padding: 28px;
    display: grid;
    grid-template: repeat(3, 262px) / repeat(4, 282px);
    gap: 14px 12px;
}

.video-card {
    display: grid;
    grid-template-rows: 140px max-content;
    grid-template-columns: 250px;
    gap: 16px 0px;
    padding: 16px;
}

.video-card img {
}

.video-info {
    display: grid;
    grid-template-columns: 42px 200px;
    gap: 10px;
}

.video-text {
    display: grid;
    grid-template-rows: max-content 14px auto auto;
    grid-template-areas: "titulo" "." "visualizacoes" "data";
}

.video-text h3 {
    grid-area: titulo;
    font-size: 14px
}

.video-text p {
    font-size: 14px;
    line-height: 16px;
}

.video-text p:first-of-type {
    grid-area: visualizacoes;

}

.video-text p:last-child {
    grid-area: data;
}